@mixin media-sm {
   @media screen and (max-width: 450px) {
       @content;
   }
}

@mixin media-md {
   @media screen and (max-width: 768px) {
       @content;
   }
}

@mixin media-lg {
   @media screen and (max-width: 991px) {
       @content;
   }
}

@mixin media-xl {
   @media screen and (max-width: 1100px) {
       @content;
   }
}

@mixin transition-ease {
   transition: all 1s ease-in-out;
}